$header-height: 0px;

/*----------  colors  ----------*/

$secondary-brand-color-grad: linear-gradient(141deg, #ccc 25%, #eee 50%, #ddd 75%);
$main-brand-color: rgb(60, 170, 255);

$grey-1: rgb(230,230,230);
$grey-2: rgb(200,200,200);
$grey-3: rgb(170,170,170);
$grey-4: rgb(130,130,130);