
/*----------  global  ----------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*----------  import child sheets  ----------*/


@import "./variables";
@import "./landing";
@import "./header";
@import "./introduction";

/* remove ugly scrollbars */


::-webkit-scrollbar {
    display: none;
}