

    $main-brand-color: rgb(60, 170, 255);
    $secondary-brand-color: rgb(200,200,200);
    $tertiary-brand-color: rgb(220,220,220);
    $header-height: 0px;
    $secondary-brand-color-grad: linear-gradient(141deg, #ccc 25%, #eee 50%, #ddd 75%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@import "./landing";
@import "./header";

#main-content {
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: $tertiary-brand-color;
}

/*--------------------
remove ugly scrollbars
--------------------*/
::-webkit-scrollbar {
    display: none;
}